* {
  box-sizing: border-box;
}

.leftGrid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: lightgray;
  border: 1px solid black;
  height: 97vh;
  width: 20%;
  float: left;
}

.leftGrid > * {
  border: 1px solid black;
  margin: 3px;
}

button {
  grid-column: 1/4;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(227, 222, 197);
  color: white;
}

.rightGrid {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  border: 1px solid black;
  background-color: lightgray;
  height: 97vh;
}

.rightGrid > * {
  border: 1px lightgray solid;
  background-color: white;
}
